/* ---------- Light Background ---------- */

.light-background {
    background: linear-gradient(135deg, #9db7ca 0%, #c3d2e2 50%, #e0e8f5 100%);
    color: rgb(33, 42, 62);
  }

/* ---------- Dark Background ---------- */
.dark-background {
    background: linear-gradient(135deg, rgba(7,22,53,1) 0%, rgba(57,72,103,1) 50%, rgba(107,122,153,1) 100%);
    color: rgb(241, 246, 249);
}

/* ---------- Animated Spheres ---------- */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .spheres {
    position: relative;
    display: flex;
  }
  
  .spheres span {
    position: relative;
    width: 3px;
    height: 3px;
    background: white;
    margin: 0 2px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(200, 200, 200);
    visibility: hidden;
    animation: animate 30s linear infinite;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
  }
  
  .spheres span:nth-child(even) {
    background: rgb(181, 241, 255);
    box-shadow: 0 0 0 1px rgb(93, 176, 220);
  }
  
  @keyframes animate {
    0% {
        visibility: hidden;
        transform: translateY(-5vh) scale(0.25) translateX(0);
    }
    1% {
        visibility: visible;
        transform: translateY(1vh) scale(0.25) translateX(0);
    }
    10% {
        transform: translateY(10vh) scale(0.75) translateX(var(--sway));
    }
    20% {
        transform: translateY(20vh) scale(0.75) translateX(-var(--sway));
    }
    30% {
        transform: translateY(30vh) scale(0.75) translateX(var(--sway));
    }
    40% {
        transform: translateY(40vh) scale(0.75) translateX(-var(--sway));
    }
    60% {
        transform: translateY(60vh) scale(0.75) translateX(var(--sway));
    }
    80% {
        transform: translateY(80vh) scale(0.75) translateX(-var(--sway));
    }
    100% {
        transform: translateY(100vh) scale(0.75) translateX(0);
    }
  }
  
  