/* ---------- Light Background ---------- */

.light-background {
    background: linear-gradient(135deg, rgba(105,114,131,1) 0%, rgba(155,164,181,1) 50%, rgba(205,214,231,1) 100%);
    color: rgb(33, 42, 62);
}

/* ---------- Dark Background ---------- */
.dark-background {
    background: linear-gradient(135deg, rgba(7,22,53,1) 0%, rgba(57,72,103,1) 50%, rgba(107,122,153,1) 100%);
    color: rgb(241, 246, 249);
}

/* ---------- Animated Spheres ---------- */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .spheres {
    position: relative;
    display: flex;
  }
  
  .spheres span {
    position: relative;
    width: 3px;
    height: 3px;
    background: white;
    margin: 0 2px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(200, 200, 200);
    visibility: hidden;
    animation: animate 30s linear infinite;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
  }
  
  .spheres span:nth-child(even) {
    background: rgb(181, 241, 255);
    box-shadow: 0 0 0 1px rgb(93, 176, 220);
  }
  
  @keyframes animate {
    0% {
        visibility: hidden;
        transform: translateY(-5vh) scale(0.25) translateX(0);
    }
    1% {
        visibility: visible;
        transform: translateY(1vh) scale(0.25) translateX(0);
    }
    5% {
        transform: translateY(5) scale(0.75) translateX(5px);
    }
    10% {
      transform: translateY(10vh) scale(0.75) translateX(-5px);
    }
    15% {
      transform: translateY(15vh) scale(0.75) translateX(5px);
    }
    20% {
      transform: translateY(20vh) scale(0.75) translateX(-5px);
    }
    25% {
      transform: translateY(25vh) scale(0.75) translateX(5px);
    }
    30% {
        transform: translateY(30vh) scale(0.75) translateX(-5px);
    }
    35% {
    transform: translateY(35vh) scale(0.75) translateX(5px);
    }
    100% {
      transform: translateY(100vh) scale(0.75) translateX(0);
    }
  }
  
  