@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Global Styles ------------------------------------------------- */

body {
    font-family: 'Roboto', sans-serif;
    color: #e2e2e2;
}

.background {
    padding-top: 20px;
    background: repeating-linear-gradient(135deg, rgb(40, 40, 40) 6px, rgb(30, 30, 30) 12px);
    overflow-y: hidden;
}


/* Navigation ---------------------------------------------------- */

.list-group-item {
    font-size: 0.9rem;
    padding: 6px 16px;
    background-color: #363945;
    color: #e0e8ff;
}

.offcanvas-body {
    overflow-y: visible;
}

.navbar-dark .navbar-toggler {
    color: none;
    padding: 0.25rem;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar,
footer {
    background: repeating-linear-gradient(135deg, rgb(60, 60, 60) 6px, rgb(50, 50, 50) 12px);
}

.nav-link {
    padding: 16px 0 0 0;
}

.btn {
    position: relative;
    bottom: 2px;
    margin-left: 15px;
}

.btn-group-sm>.btn,
.btn-sm {
    margin-left: 15px;
    padding: 0.1rem 0.4rem;
    font-size: .75rem;
    border-radius: 0.2rem;
}


/* Headings ------------------------------------------------------ */

h2 {
    font-size: 1.4rem;
    margin: 4px;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
    color: rgb(40, 132, 218);
}

hr {
    margin: 0;
    margin-bottom: 1rem;
}

.highlight {
    color: red;
}


/* Cards --------------------------------------------------------- */

.card {
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    background: repeating-linear-gradient(135deg, rgb(60, 60, 60) 6px, rgb(50, 50, 50) 12px);
    border: 1px solid #444;
}

.list-group-item {
    font-size: 0.9rem;
    padding: 6px 16px;
    background: repeating-linear-gradient(135deg, rgb(60, 60, 60) 6px, rgb(50, 50, 50) 12px);
    color: #e2e2e2;
}

.btn {
    position: relative;
    bottom: 2px;
    margin-left: 10px;
}


/* Scrollbar ----------------------------------------------------- */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box: inset 0 0 6px rgb(56, 121, 146);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(102, 102, 102);
    -webkit-box: inset 0 0 6px rgba(81, 160, 153, 1);
}