@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.placeholder {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 5px;
}

/* ---------- General ---------- */
body {
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    color: white;
}

section {
    padding: 10px;
    min-height: 100vh;
    display: flex;
}

.light-background {
    background-color: rgb(45, 46, 50);
}

.dark-background {
    /* background: linear-gradient(135deg, rgba(7, 22, 53, 1) 0%, rgba(57, 72, 103, 1) 50%, rgba(107, 122, 153, 1) 100%); */
    background-color: rgb(37, 38, 42);
}

.color-accent {
    color: rgb(221, 70, 77);
}

/* ---------- Navigation ---------- */
.navbar {
    background-color: rgb(45, 46, 50);
    border-bottom: 1px solid black;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: rgb(27, 173, 129);
    border-bottom: 1px solid salmon;
}

.navbar a:active {
    color: rgb(27, 173, 129);
}

/* ---------- Home ---------- */
#home,
#about {
    padding-top: 64px;
    align-items: center;
}

#home .introduction {
    height: 315px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

h2 {
    color: rgb(27, 173, 129);
    font-size: 4rem;
    font-weight: 600;
    margin: 8px 0;
}

.introduction p {
    margin: 8px 0;
    font-size: 1.2rem;
    font-weight: 300;
}

.about-link {
    margin-top: 16px;
    color: rgb(221, 70, 77);
}

.screen-graphic {
    width: 420px;
    height: 315px;
    background: linear-gradient(135deg, rgba(78, 78, 83, 1) 0%, rgba(53, 54, 58, 1) 100%);
    border-radius: 10px;
}

.screen-menubar {
    width: 94%;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(107, 107, 104);
    margin: 10px 3% 0 3%;
    position: relative;
    top: 10px;
}

.close,
.minimise,
.full-screen {
    width: 10px;
    height: 10px;
    margin-bottom: 3px;
    margin-left: 3px;
    border-radius: 50%;
    display: inline-block;
}

.close {
    margin-left: 6px;
    background-color: rgb(255, 95, 87);
}

.minimise {
    background-color: rgb(254, 188, 46);
}

.full-screen {
    background-color: rgb(40, 200, 64);
}

.mini-code-block {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.line {
    margin-left: 3%;
    height: 12px;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 13px;
}

.t1 {
    background-color: rgb(182, 186, 209, 0.5);
    width: 90%;
}

.t2 {
    background-color: rgb(180, 147, 84, 0.5);
    width: 40%;
}

.t3 {
    background-color: rgb(239, 144, 154, 0.5);
    width: 60%;
}

.t4 {
    background-color: rgb(105, 207, 236, 0.5);
    width: 80%;
}

/* ---------- Skills outer section ---------- */
#skills {
    padding-top: 64px;
    padding-bottom: 64px;
    height: 100%;
}

.skills-list {
    margin-top: 20px;
    background-color: rgb(37, 38, 42);
    border-radius: 16px;
}

.box-container {
    padding: 16px;
}

.square-box {
    width: 100%;
    padding-bottom: 100%;
    background-color: rgb(45, 46, 50);
    border: 1px solid #aaa;
    border-radius: 8px;
}

.skill-icons {
    width: 128px;
}

/* ---------- Projects ---------- */
.project-selector {
    color: white;
    color: rgb(27, 173, 129);
    border-radius: 5px;
    border: 1px solid white;
    z-index: 60;
}

/* ---------- Work ---------- */
::selection {
    color: #fff;
    background: #3ea0e2;
}

.wrapper {
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}

.wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.wrapper .row {
    display: flex;
}

.wrapper .row-1 {
    justify-content: flex-start;
}

.wrapper .row-2 {
    justify-content: flex-end;
}

.wrapper .row .job-card {
    background-color: rgb(37, 38, 42);
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}

.wrapper .row .job-card::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 .job-card::before {
    right: -7px;
}

.row-2 .job-card::before {
    left: -7px;
}

.row .job-card .icon,
.center-line .scroll-icon {
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #3ea0e2;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.row-1 .job-card .icon {
    top: 15px;
    right: -60px;
}

.row-2 .job-card .icon {
    top: 15px;
    left: -60px;
}

.row .job-card .details,
.row .job-card .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .job-card .details .title {
    font-size: 22px;
    font-weight: 600;
}

.row .job-card p {
    margin: 10px 0 17px 0;
}

.row .job-card .bottom a {
    text-decoration: none;
    background: #3ea0e2;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
}

.row .job-card .bottom a:hover {
    transform: scale(0.97);
}

@media(max-width: 790px) {
    .wrapper .center-line {
        left: 40px;
    }

    .wrapper .row {
        margin: 30px 0 3px 60px;
    }

    .wrapper .row .job-card {
        width: 100%;
    }

    .row-1 .job-card::before {
        left: -7px;
    }

    .row-1 .job-card .icon {
        left: -60px;
    }
}

@media(max-width: 440px) {

    .wrapper .center-line,
    .row .job-card::before,
    .row .job-card .icon {
        display: none;
    }

    .wrapper .row {
        margin: 10px 0;
    }
}

/* ---------- Footer ---------- */
footer {
    background-color: rgb(33, 42, 62);
}









/* 
#my-section {
    position: relative;
}

.bottom-element {
    position: absolute;
    bottom: 0;
} */